
header {

  width:100%;
  height:120px;
  background-color:white;
  border-bottom: 1px solid #CC0099;
   line-height: 120px;
}

header h1 {
  display: inline-block;
  width: auto;
  color:  #CC0099;
  font-size: 35px;
  line-height: 120px;
}

header ul {
  
  list-style: none;
  float: right;
  
  
}

header ul li {
  width: 150px;
  height: auto;
  float: left;
  margin-left: 30px;
  border-left: 1px solid  #EEEEEE ;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
 
}

header ul li:hover {
  transition-duration: 1s;
  opacity: .3;

}


header ul li:first-child {
  background:url("http://freeiconbox.com/icon/256/34097.png")no-repeat;
  background-size: 15%;
  background-position: 9% 50%;
  padding-left:30px;
  
}

header ul li:nth-of-type(2) {
  background: url("https://png.pngtree.com/svg/20160224/92af424a9f.png")no-repeat;
  background-size: 25%;
  background-position: -2% 50%;
  padding-left:30px;
}


header ul li:nth-of-type(3) {
  
  background: url("http://freeiconbox.com/icon/256/37116.png")no-repeat;
  background-size: 25%;
  background-position: 15% 50%;
  padding-left:30px;
}

header ul li:last-child {
  
  background-color: #CC0099;
  box-shadow: 2px 2px -5px  #CC0066;
  box-sizing: border-box;
}



header ul li:last-child:hover {
  transition-duration: .6s;
  background-color:#FF0099;
  opacity: .7;

}

header ul li a {
  
  color: black;
}

header ul li a:link {
    text-decoration: none;
    color: black;
}

header span {
  color: white;
}

#top {
  width:100%;
  height:400px;
}

.slider{
    width: 70vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
 
.slider__content{
    min-width: 100%;
    animation: sliderAnime 8s ease-in-out infinite;
}

.slider__content img{
    width:100%;
    height:600px;
} 
  
@keyframes sliderAnime{
    0%{
 
    }
    16.6%{
        transform: translateX(0);
    }
    33.3%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    66.6%{
        transform: translateX(-200%);
    }
    83.2%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
} 
 
.slider__img {
    max-width: 100%;
    min-width: 100%;
}

#main {
    margin-top: 40px
}

#news {
   width: 70%;
   height: 900px;
   padding-top: 220px;
   margin: 20px auto;
}

#news img {
  width: 30%;
  height: 30%
}

#news h2{  
  float: left;
  display: inline-block;
  width: auto;
  margin-right: 120px;
}

#news ul {
  float: left;
  width: 700px;
  text-decoration: none;
  list-style: none;
}

#news section {
  background-color: green;
  width: auto;  
}

#news li {
  float: left;
  border-bottom: 1px dotted black;
  padding-bottom: 20px;
  padding-top: 20px;
}

#news li:first-child {
    padding-top: 0px;
}

#news li:last-child {
   border-bottom: none;
}

#news img {
  float: left;
  border: 1px solid #eee;
  margin-right: 20px;
}

.normalbtn {
  width: 220px;
  height: 40px;
  background-color: #AAAAAA ;
  border-style: none;
  margin: 0;
  color: white;  
}

#news button:hover {
  background-color:#CC0099;
  transition-duration: .6s;  
}

#news pre {
  line-height: 40px;
  color: white;
}

.para_bk01 {
  width: 100%;
  height: 500px;
  padding-top: 10px;
  background: url("../img/para01.jpg")no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.para_bk02 {  
  width: 100%;
  height: 500px;
  padding-top: 10px;
  background: url("../img/para02.jpg")no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.para_bk03 {
  width: 100%;
  height: 500px;
  padding-top: 10px;  
  background: url("../img/para03.jpg")no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.introduce {
  width: 100%;
  height: 500px;
  padding-top: 10px;
}

.introduce dl {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.introduce span {
  width: 40px;
  height: 20px;
  padding: 4px 8px;
  background-color:#CC0099;
  color: white;
}

.introduce dt {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted black;
  padding-bottom: 25px;
}

.introduce h3 {
  font-weight: bold;
}

.introduce dd {
  width: 450px;
}

.introduce button {
  width: 35%;
  height: 40px;
  border-style: none;
  background-color:#AAAAAA;
  color: white;
  font-weight: bold;
}

.introduce button:first-child {
  margin-left: 215px;
}

.introduce button:last-child {
  background-color:#000066;
}

.introduce button:hover {
  background-color:#CC0099;
  transition-duration: .6s;
}

#movies {  
  width: 100%;
  height: 600px;
  background-color: #eee;
}

#movies span {
  font-size: 20px;
  font-weight: bold;
  color: #CC0099;
}

#movies h1 {
  text-align: center;
  padding-top: 100px;  
}

#movies ul {
   /* margin-left: 43%;
   margin-top: 30px; */
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  margin-top: 40px;
}
#movies li:first-child {
   border-bottom: 5px solid #cc0099;
}

#movies  li {
  list-style: none;
  text-align: center;
  width: 100px;
  height: 30px;
  display: inline-block;
  list-style: none;
  float: left;
  margin-right: 10px;
  border-bottom: 5px solid gray;
  cursor: pointer;
}

#movies a:link {
  text-decoration: none;  
}

.movieContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.movieContainer img {
  width: 30%;
  height: 30%;
}

#movies section {
  /* position: absolute;
  float: left;
  margin-top: 40px;
  margin-left: 21%; */
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
}

#movies .future {
    /* position: relative; */
    display: none;
}

#movies img:hover {
  opacity: .4;
  transition-duration: 1s;
}

.movieBox {
    display: block;
    width: 300px;
    height: 200px;
    background: mediumturquoise;
}

.box01 {
  background-image: url(../img/people01.jpg);
  background-size: cover;
}

.box02 {
  background-image: url(../img/people02.jpg);
  background-size: cover;
}

.box03 {
  background-image: url(../img/people03.jpg);
  background-size: cover;
}

.box04 {
  background-image: url(../img/para01.jpg);
  background-size: cover;
}

.box05 {
  background-image: url(../img/para02.jpg);
  background-size: cover;
}

.box06 {
  background-image: url(../img/para03.jpg);
  background-size: cover;
}

#ranking { 
  width: 100%;
  height: 700px;
  background-color: white;
}

#ranking h1 {
  text-align: center;
  padding-top: 100px;
}

#ranking  span {
  font-size: 20px;
  font-weight: bold;
  color: #CC0099;
}

#ranking section {
  width: 510px;
  height: 200px;
  margin: 0 auto;
  margin-top: 40px;
}

#ranking .rkbox {
  float: left;
  margin-right: 10px;
  width: 160px; 
  height: 160px;
}

#ranking .rkbox span {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  background-color:#CC9933; 
  color: white;
  font-size:24px;
  text-align: center;
  padding-top: 10px;
}

#ranking #rk1 {
  background: url("../img/rk01.jpg")no-repeat bottom ;
  background-size: contain;
}

#ranking #rk2 {
  background: url("../img/rk02.jpg")no-repeat bottom;
  background-size: contain;
}

#ranking #rk3 {  
  background: url("../img/rk03.jpg")no-repeat bottom;
  background-size: contain;
}

.comment {
  display: block;
  position: relative;
  width: 800px;
  background-color: #FFD5EC;
  height:160px;
  padding:15px 10px;   
  margin: 0 auto;
}

.comment::before {  
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 45%;
  top: -12px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFD5EC;
  border-left: 15px solid transparent;
}

.comment p {
  position: absolute;
  top: 0px;
  left: 0;
  padding: 10px;  
}

#info {
  width: 100%;
  height: 700px;
  background-color: #eee;
  padding-top: 50px;  
}

#info span {
  font-size: 20px;
  font-weight: bold;
  color: #CC0099;
  position: absolute;
  bottom: -20px;
}

#info h1 {
  text-align: center;
  padding-top: 100px;
}

#info .infobox {
  float: left;
  margin-right: 30px;
  height: 270px;
  width: 250px;
  position: relative;
}

#info .infobox::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 250px;
  display: block;
  background-color: red;
  bottom: -20px;
  left: 0;
}

#info img {
  width: 250px;
}

#info span {
  font-size: 13px;
  font-weight: lighter;
}

#info p {
  padding-top: 10px;
  font-weight: bold;
  font-size: 12px;
}

#boxcontainer {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}

#info pre {
  line-height: 40px;
  color: white;
}

#info button {
  margin-top: 100px;
}

#info button:hover {
  background-color:#CC0099;
  transition-duration: .6s;
}

#service {
  width: 100%;
  height: 500px;
  background-color: white; 
}

#service h2 {
  float: left;
  margin-left: 20%;
  margin-top: 40px;
}

#service ul {
  width: 750px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 5%;
  margin-top: 40px;
}

#service ul li {
  cursor: pointer;
  display: block;
  width:350px;
  height: 125px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  line-height: 120px;
  font-weight: bold;
}

#service ul li:first-child {
  background:url("http://freeiconbox.com/icon/256/34097.png")no-repeat;
  background-size: 10%;
  background-position: 9% 50%;
  border-bottom: none;
  border-right: none;
}

#service ul li:nth-of-type(2) {
  background: url("https://png.pngtree.com/svg/20160224/92af424a9f.png")no-repeat;
  background-size: 15%;
  background-position: 15% 50%;
  padding-left:30px;
  border-bottom: none;
}

#service ul li:nth-of-type(3) { 
  background: url("http://freeiconbox.com/icon/256/37116.png")no-repeat;
  background-size: 15%;
  background-position: 15% 50%;
  padding-left:30px;
  border-right: none;
}

#service ul li:nth-of-type(4) { 
  background: url("https://freeiconshop.com/wp-content/uploads/edd/handshake-outline.png")no-repeat;
  background-size: 15%;
  background-position: 10% 50%;
  padding-left:30px;
}

#service ul li:hover {
  color: white;  
  background-color:#CC0099;
  transition-duration: .6s;
}

#service button {
  margin-top: 20px;
  line-height: 40px;
  margin-left: 43%;
}

#service pre {
  color: white;  
}

#service button:hover {
  background-color:#CC0099;
  transition-duration: .6s;
}

#toTop {
  width: 100%;
  height: 45px;
  background-color:#CC0099;
  text-align: center;
  line-height: 45px;
  color: white;
  text-decoration: none;
}

footer a:link {
  text-decoration: none;
}

footer {
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  font-size: 12px;
  line-height: 100px;
}

/*--------------------------------------------------
                          clear
  -------------------------------------------------*/
  
  .clearbox {
    clear: both;
  }
  
