* {
  box-sizing: border-box;
}

body > * {
  width: 95vw;
  margin: 0 auto;
}

.btn {
  width: 230px;
  border-radius: 25px;
  background-color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
}

header {
  height: 90vh;
  background: url(../img/travelMV.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

header::after,
.intro-2::after {
  content: "";
  display: block;
  /* width: 100%; */
  border-top: 120px solid transparent;
  border-right: 1216px solid #eeeeee;
  position: absolute;
  right: 0;
  bottom: 0;
}
.mask {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b1e99c;
  background-color: rgba(177, 233, 156, 0.8);
  left: 0;
  top: 0;
}

header .items {
  display: flex;
  justify-content: center;
}
header h1,
header h2 {
  color: white;
  font-size: 52px;
  letter-spacing: 0.5em;
  position: relative;
  text-align: center;
  width: 100%;
  top: 200px;
}

header h2 {
  font-size: 24px;
  position: absolute;
  letter-spacing: 0.3em;
  top: 260px;
}

header .btn {
  position: absolute;
  top: 300px;
}

.intro {
  display: flex;
  background-color: #eeeeee;
  padding-top: 100px;
  flex-wrap: wrap;
  color: #777777;
}

/* .intro h1,
.intro-3 h1,
.story h1,
.booking h1 */

.mainTitle {
  /* color: #06a65b; */
  font-size: 32px;
  background: -webkit-linear-gradient(0deg, #9ee819, #06a65b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  color: #06a65b;
  font-weight: bold;
  width: 100%;
  text-align: center;
  transition: transform 0.2s;
}

.mainTitle:hover {
  transform: skew(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.intro .container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.intro .introText {
  width: 40%;
  padding: 20px;
  line-height: 2em;
}
.intro .introText h2 {
  font-weight: bold;
  margin: 15px 0;
}

.intro .introText p {
  width: 90%;
}
.intro .introImg {
  width: 40%;
  position: relative;
  margin-left: 50px;
}

.intro .introImg .imgBox {
  width: 250px;
}

.intro .imgBox img {
  width: 100%;
}

.introImg #box01 {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 20px;
}
.introImg #box02 {
  position: absolute;
  left: 170px;
  top: 50px;
  z-index: 2;
}
.introImg #box03 {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 3;
}

.intro .container span,
.story span {
  color: #06a65b;
  cursor: pointer;
  border-bottom: 1px solid #06a65b;
  line-height: 5;
  transition: background-color 0.3s;
}

.intro .container span:hover,
.story span:hover {
  background-color: #06a65b;
  color: white;
  padding: 5px;
}

.intro-2 {
  height: 100vh;
  background: url(../img/travelMV.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
}

.intro-2 .introBox {
  width: 22%;
  max-width: 200px;
  height: 250px;
  background-color: white;
  z-index: 2;
  color: #777777;
  text-align: center;
  padding: 30px 20px;
  transition: transform 0.3s;
}

.intro-2 .introBox:hover {
  transform: translateY(-10px);
}

.intro-2 h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.intro-3 {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  background-color: #eeeeee;
  flex-wrap: wrap;
}
.intro-3 .cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.intro-3 .introCard {
  width: 30%;
  max-width: 300px;
  height: 450px;
  perspective: 500px;
  margin-top: 60px;
}

.intro-3 .introCard:hover .front {
  transform: rotateY(180deg);
}

.intro-3 .introCard:hover .back {
  transform: rotateY(0);
}
.intro-3 .introCard .front,
.intro-3 .introCard .back {
  transition: transform 0.8s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  box-shadow: 0 0 2px #777777;
}

.intro-3 .introCard .front {
  background-color: white;
}

.intro-3 .introCard .front .mask {
  background: rgba(246, 149, 31, 0.5);
  position: relative;
}
.intro-3 .introCard .front span {
  padding: 10px 15px;
  color: white;
  background: rgba(246, 149, 31, 0.7);
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 22px;
}
.intro-3 .introCard .front span:first-child {
  bottom: 35px;
}

.introCard .back {
  background: -webkit-linear-gradient(0deg, #f6b61f, #f6951f);
  transform: rotateY(180deg);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.back > * {
  width: 100%;
}
.back .backContent {
  height: 70vh;
  padding-top: 140px;
}

.back p {
  font-weight: bold;
  margin-bottom: 40px;
}

.back span {
  font-size: 42px;
}

.intro-3 .introCard .img {
  width: 100%;
  height: 200px;
  background: url(../img/para03.jpg);
  background-size: cover;
  background-repeat: none;
  position: relative;
}

.intro-3 #introC2 .img {
  background: url(../img/hiking.jpg);
  background-size: cover;
  background-repeat: none;
}

.intro-3 #introC3 .img {
  background: url(../img/snow.jpg);
  background-size: cover;
  background-repeat: none;
}

.intro-3 .front ul {
  line-height: 2;
  text-align: center;
  color: #777777;
  padding: 15px 25px;
}
.intro-3 .front ul li:not(:last-child) {
  border-bottom: 1px solid #949494;
}

.intro-3 #introC2 .front .mask {
  background: rgba(21, 173, 41, 0.5);
}
.intro-3 #introC2 .front span {
  background: rgba(21, 173, 41, 0.7);
}

.intro-3 #introC3 .front .mask {
  background: rgba(21, 173, 41, 0.5);
}

.intro-3 #introC2 .back {
  background: -webkit-linear-gradient(0deg, #1ff68a, #15ad29);
}

.intro-3 #introC3 .front .mask {
  background: rgba(31, 188, 246, 0.5);
}

.intro-3 #introC3 .front span {
  background: rgba(31, 188, 246, 0.7);
}

.intro-3 #introC3 .back {
  background: -webkit-linear-gradient(0deg, #1fbcf6, #1579ad);
}

.intro-3 .btn {
  text-align: center;
  background-color: #1ff68a;
  color: white;
  margin: 60px 0 120px;
}
.back .btn {
  width: 80%;
  max-width: 230px;
  color: #777777;
  text-align: center;
  margin: 100px auto 0 auto;
}
.story {
  height: 1000px;
  background: url(../img/seaBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}

.story .mask {
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 150px;
}

.story .mask h1 {
  margin-bottom: 60px;
}

.story .mask .storyBox {
  width: 600px;
  height: 265px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: skew(-12deg);
  padding: 35px 20px 0;
  margin: 0 auto;
  margin-bottom: 60px;
}

.story .mask .storyBox .icon {
  transform: skew(12deg);
  width: 115px;
  height: 115px;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.story .mask .storyBox .icon img {
  width: 100%;
  height: 100%;
}

.story .mask .storyBox .icon:hover img {
  filter: blur(5px);
}

.story .mask .storyBox .icon .name {
  color: white;
  font-size: 14px;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
}

.story .mask .storyBox .icon:hover .name {
  transform: translateY(0);
  opacity: 1;
}
.story .mask .storyBox .text {
  transform: skew(12deg);
  color: #777777;
  line-height: 2;
  font-size: 14px;
}

.story .mask .storyBox .text h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.booking {
  height: 700px;
  background-color: #06a65b;
  padding-top: 100px;
}

.booking .bookContent {
  width: 80%;
  height: 500px;
  /* background: url(../img/img01.jpg); */
  background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0.7) 50%,
        transparent 50%
      )
      center center / 100% 100%,
    url(../img/img01.jpg) right center / auto 100%;
  background-size: cover;
  background-position-y: 50%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #777;
  position: relative;
}

.bookContent > div {
  width: 50%;
  padding-top: 60px;
  text-align: center;
}

.bookContent form input[type="text"] {
  border: none;
  padding: 15px 20px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
  box-shadow: 0 0 5px #eeeeee;
}

.bookContent .radioGroup {
  margin-top: 40px;
}
.bookContent .radioGroup input {
  display: none;
}
.bookContent .radioGroup label {
  padding-left: 30px;
  position: relative;
}

.bookContent .radioGroup label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 5px solid #06a65b;
  border-radius: 50%;
}

.bookContent .radioGroup input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  background: #06a65b;
  border-radius: 50%;
}

.booking .btn {
  background-color: #06a65b;
  text-align: center;
  color: white;
  width: 160px;
  display: inline-block;
  margin-top: 50px;
}

footer {
  height: 200px;
  background-color: #3f4441;
  color: white;
  font-size: 14px;
}

footer .container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0 auto;
}

footer ul {
  width: 50%;
  position: relative;
}

footer ul li {
  cursor: pointer;
  margin-left: 15px;
  padding-top: 10px;
  display: inline-block;
  transition: transform 0.3s;
}

footer ul li:hover {
  color: #06a65b;
  background: #333;
  transform: rotate(5deg) scale(1.3);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

footer ul:before,
footer .cpContent:before {
  content: "";
  width: 90%;
  height: 1px;
  position: absolute;
  background-color: white;
}

footer .cpContent:before {
  width: 95%;
}

footer .cpContent {
  width: 40%;
  position: relative;
  font-size: 14px;
  line-height: 2;
}
